.App {
  margin: 0 auto;
  padding: 4rem;
}

/* 
.contained:hover{
  background-color: #F5ECE5 !important;
}
.text:hover{
background-color: rgba(236, 217, 204, 0.25) !important;
} */
/* .text-1{
  color: #192231 !important;
} */
/* .text-2{
  color: #BEB082 !important;
} */
/* .hov{
  background-color:rgba(236, 217, 204, 0.25) !important ;
} */
/* .hov2{
  background-color:  rgba(236, 217, 204, 0.25) !important;;
} */
/* .outlined{
  border-color: rgba(190, 176, 130, 1) !important;
} */
/* .add{
  border-radius: 20px !important;
} */
/* .hover-icon{
  background-color: rgba(25, 118, 210, 0.04) !important; 
}
.next{
  color: rgba(175, 175, 175, 1) !important;
} */

/* .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline{
  border-color: rgba(190, 176, 130, 1) !important ;
} */

/* .hover{
  border-color: rgba(190, 176, 130, 1)  !important ;
} */